<!DOCTYPE html>
<html>
  <head>
    <title>RaffleDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-5">
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path , class: "btn btn-primary "  %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-secondary"  %>
    <% end %> 

    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
